<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <h1>Fruit Detail</h1>
            <p><%= data.name%></p>
            <p><%= data.stock%></p>
            <a href="/fruits/edit/<%= data.id %>"><button type="button" name="edit">Edit</button></a>
            <a href="/fruits/delete/<%= data.id %>"><button type="button" name="delete">Delete</button></a>
    </body>
</html>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            